@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$bluegradient: #9C27B0;


@mixin fullofParent {
    width: 100%;
    height: 100%;
}

@mixin inputandButton {
    width: 80%;
    height: 43px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
}

@mixin positionCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin arrowStyle($args...) {
    color: $args;
    font-size: 100px;
    cursor: pointer;
    transition: .5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #E9EBEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    perspective: 1000px;
    font-size: 20px;

}

div.reservation {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E9EBEE;
    z-index: 1;

    div.summary {
        display: none;
        position: fixed;
        align-items: center;
        border: 2px white solid;
        width: 50%;
        height: 50%;
        justify-content: space-evenly;

        h2 {
            margin-bottom: 10px;
        }

        p.reservationInfo {
            width: 50%;
            color: white;
            font-size: 20px;
            line-height: 30px;
        }

        form {
            text-align: center;
            width: 40%;
            height: 100%;
            color: white;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            button {
                display: flex;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 80%;
                background-color: transparent;
                border: white 1px solid;
                border-radius: 50px;
                line-height: 45px;
                user-select: none;
                color: white;
                font-weight: bold;
                font-size: 25px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    color: $bluegradient;
                    background-color: white;
                }
            }
        }
    }

    div.reservationPanel {
        display: none;
        position: absolute;
        overflow: visible;

        div.mySeat {
            font-size: 10px;

            &.choose {
                color: black;
                border: red 10px solid;
                background: linear-gradient(-45deg, #9C27B0 0%, #ffffff 30%) no-repeat 0 0/100%;
            }

            &.block {
                color: black;
                background: linear-gradient(-45deg, #9C27B0 0%, #ffffff 30%) no-repeat 0 0/100%;
                cursor: none;
                pointer-events: none;

                &:hover {
                    color: black;
                    background: linear-gradient(-45deg, #9C27B0 0%, #ffffff 30%) no-repeat 0 0/100%;
                    cursor: none;
                    pointer-events: none;
                }
            }
        }

        &.hidden {
            display: flex;
        }

        div.screen {
            display: flex;
            width: 95%;
            height: 13%;
            border: 1px solid white;
            cursor: pointer;
            color: black;
            font-weight: bold;
            font-size: 27px;
            justify-content: center;
            align-items: center;
            background: white;

        }
    }


    div {
        display: none;
        background: linear-gradient(-45deg, #9C27B0 0%, #1d2129 100%) no-repeat 0 0/100%;
        background-color: $bluegradient;
        width: 60%;
        height: 30vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        overflow: hidden;

        div {
            display: flex;
            width: 10%;
            height: 13%;
            border: 1px solid white;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 27px;
            justify-content: center;
            align-items: center;

            &.title {
                font-size: 24px;
                width: 45%;
            }

            &.rooms {
                font-size: 30px;
                width: 45%;
            }

            &:hover {
                color: black;
                background: linear-gradient(-45deg, #9C27B0 0%, #ffffff 30%) no-repeat 0 0/100%;
            }
        }
    }
}


i.fa-times {
    position: absolute;
    font-size: 0px;
    top: 7%;
    right: 7%;
    color: $bluegradient;
    z-index: 4;
    transition: .3s both;
    cursor: pointer;


    &.hidden {
        font-size: 70px;
    }

}

div.wrapper {
    background-color: #E9EBEE;
    position: absolute;
    @include fullofParent();
    z-index: -3;

    i.fa-times {
        position: absolute;
        font-size: 0;
        top: 2%;
        right: 2%;
        color: white;
        z-index: 4;


        &.hidden {
            transition: .3s 1s;
            font-size: 70px;
            cursor: pointer;
        }
    }

    &.hidden::before {
        position: absolute;
        top: 0;
        left: 0;
        @include fullofParent();
        background-color: #E9EBEE;
        content: "";
        pointer-events: none;
        z-index: 3;
        filter: blur(40px)
    }
}





@keyframes swirl-out-bck {
    0% {
        transform: rotate(0) scale(1) translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: rotate(-540deg) scale(0) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img.load.animation {
    animation: swirl-out-bck 0.4s ease-in both;
}

img.load {
    width: 10%;
    min-width: 100px;
    position: absolute;
    @include positionCenter();
    z-index: 3;
}

span.spanInfo {
    font-weight: bold;
    font-size: 30px;

    span {
        color: red;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer
    }
}

section.cinemaChoose {
    display: none;
    @include fullofParent();
    justify-content: center;
    align-items: center;

    div.before {
        position: absolute;
        display: flex;
        width: 45%;
        height: 45vw;
        max-width: 440px;
        max-height: 440px;
        justify-content: center;
        align-items: center;
        border-radius: 80%;
        background-image: url('/afterlogin/img/cinemaPoznan.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: .3s;

        &.popUp {
            transition: 1s;
            position: absolute;
            width: 80%;
            height: 80%;
            max-width: none;
            max-height: none;
            border-radius: 0;
            z-index: 3;
            opacity: 1;
        }
    }

    div.background {
        display: flex;
        width: 45%;
        height: 45vw;
        max-width: 440px;
        max-height: 440px;
        justify-content: center;
        align-items: center;
        border-radius: 80%;
        background: linear-gradient(-45deg, $bluegradient 0%, #1d2129 100%) no-repeat 0 0/100%;
        transition: 1s;

        &.popUp {
            position: absolute;
            width: 80%;
            height: 80%;
            max-width: none;
            max-height: none;
            border-radius: 0;
            z-index: 3;
            opacity: 0.9;
        }

        div.insidepopUp {
            @include fullofParent();
            text-align: center;
            flex-wrap: wrap;

            h1 {
                position: absolute;
                display: none;
                width: 100%;
                top: 20px;
                font-size: 40px;
                color: white;
                text-align: center;
                z-index: 3;

                &.hidden {
                    display: block;
                }
            }

            button {
                display: none;
                position: absolute;
                cursor: pointer;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
                justify-content: center;
                width: 20%;
                height: 45px;
                background-color: transparent;
                border: white 1px solid;
                border-radius: 50px;
                line-height: 45px;
                user-select: none;
                color: white;
                font-weight: bold;
                font-size: 25px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    color: $bluegradient;
                    background-color: white;
                }
            }



            div.moviesList {
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include fullofParent();
                overflow: hidden;

                p.movieInfo {
                    display: none;
                    width: 50%;
                    color: white;
                    line-height: 30px;
                    font-size: 16px;
                    text-align: left;

                    span {
                        display: block;
                        margin-bottom: 5px;
                    }

                    i {
                        @include arrowStyle(white);
                        position: absolute;
                        bottom: 2%;
                        right: 2%;
                        font-size: 70px;
                    }
                }

                div.movie {
                    width: 15%;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2)
                    }

                    &.none {
                        display: none;
                    }

                    &.clicked {
                        width: 35%;
                        height: 95%;
                        display: flex;

                        &:hover {
                            transform: none;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    div.infoText {
        @include fullofParent();
        position: absolute;
        z-index: 2;
        width: 80%;
        border-radius: 50%;

        &.hidden {
            width: 0;
            transition: .3s;
        }

        &:hover>p.info {
            color: white;
            transition: .3s;
        }

        p.info {
            font-size: 17px;
            font-weight: bold;
            position: absolute;
            width: 80%;
            color: transparent;
            transition: .3s;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;

            &.hidden {
                display: none;
            }
        }


        img.imgCircle {
            width: 95%;
            height: 95%;
            border-radius: 80%;
            opacity: 1;
            z-index: 2;
            cursor: pointer;
            transition: .5s ease-out;

            &.opacityHover {
                opacity: 0.08;
            }
        }
    }
}

div.arrows {
    display: flex;
    position: absolute;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    i {
        @include arrowStyle($bluegradient);

        &:hover {
            transform: scale(1.5)
        }
    }
}

section.logout {
    display: none;
    position: absolute;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    right: 0%;
    z-index: 2;

    span {
        opacity: 0;
        font-size: 20px;
        font-weight: bold;
    }

    img.exit {
        margin-left: 10px;
        width: 30%;
        min-width: 30px;
        cursor: pointer;

        &.hidden {
            pointer-events: none;
        }

        &:hover+span {
            opacity: 1;
        }
    }
}

p.helloUser {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 2;

    &.hidden {
        pointer-events: none;
    }

    span {
        font-weight: bold;
        color: red;
    }
}